* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #0b1c2d;
  color: white;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
}

.logo {
  color: #00eaff;
}

.nav-links {
  display: flex;
  gap: 25px;
  list-style: none;
}

.nav-links li {
  cursor: pointer;
}

.btn-cv {
  background: #ff4d6d;
  border: none;
  padding: 10px 18px;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

/* Hero */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px;
}

.hero-text h1 {
  font-size: 42px;
  margin: 10px 0;
}

.hero-text span {
  color: #00eaff;
}

.hero-text p {
  max-width: 400px;
  margin: 20px 0;
  color: #ccc;
}

.hero-buttons {
  display: flex;
  gap: 15px;
}

.btn-primary {
  background: #00eaff;
  color: black;
  border: none;
  padding: 10px 22px;
  border-radius: 6px;
  cursor: pointer;
}

.btn-secondary {
  background: transparent;
  border: 1px solid #00eaff;
  color: #00eaff;
  padding: 10px 22px;
  border-radius: 6px;
  cursor: pointer;
}

.hero-image img {
  width: 300px;
  border-radius: 50%;
  border: 4px solid #00eaff;
}

section{
  min-height:100vh;
  padding:60px 20px;
}